@charset "UTF-8";
@font-face {
    font-family: Vazir-Medium;
    src: url("../fonts/Vazir-Medium.eot") format("eot"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");  
}
body{
    background-color: rgb(255, 204, 166);
}
body, *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Vazir-Medium;
}
ul li{
    list-style: none;
    display: inline;
}
ul li a{
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    color: rgb(255, 0, 98);
}
.top-menu li a:hover{
    border-radius: 5px;
    background-color: rgb(255, 0, 98);
    color: rgb(255, 204, 166);
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    clear: both;
    /* padding: 15px; */
    /* background-color: dodgerblue; */
    /* color: rgb(192, 255, 255); */
    /* border-radius: 5px; */
}
.container-fluid{
    width: 100%;
}
.row{
        /* هر محتوا ردیف خودشو داشته باشه */
    margin: 0px 15px;
}
.row::after{
    /* هر محتوا ردیف خودشو داشته باشه */
    content: "";
    clear: both;
    display: table;
}
[class^="col-"]{
    /* هر چی کلاس col- داره شناور شه به راست ینی زیر هم نیان بغل هم باشن */
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width:576px) {
    .col-xs-1{
        width : 8.33%;
    }
    .col-xs-2{
        width : 16.66%;
    }
    .col-xs-3{
        width : 25%;
    }
    .col-xs-4{
        width : 33.33%;
    }
    .col-xs-5{
        width : 41.66%;
    }
    .col-xs-6{
        width : 50%;
    }
    .col-xs-7{
        width : 58.33%;
    }
    .col-xs-8{
        width : 66.66%;
    }
    .col-xs-9{
        width : 75%;
    }
    .col-xs-10{
        width : 83.33%;
    }
    .col-xs-11{
        width : 91.66%;
    }
    .col-xs-12{
        width : 100%;
    }
    .col-xs-offset-0{
        margin-right: 0px;
    }
    .col-xs-offset-1{
        margin-right : 8.33%;
    }
    .col-xs-offset-2{
        margin-right : 16.66%;
    }
    .col-xs-offset-3{
        margin-right : 25%;
    }
    .col-xs-offset-4{
        margin-right : 33.33%;
    }
    .col-xs-offset-5{
        margin-right : 41.66%;
    }
    .col-xs-offset-6{
        margin-right : 50%;
    }
    .col-xs-offset-7{
        margin-right : 58.33%;
    }
    .col-xs-offset-8{
        margin-right : 66.66%;
    }
    .col-xs-offset-9{
        margin-right : 75%;
    }
    .col-xs-offset-10{
        margin-right : 83.33%;
    }
    .col-xs-offset-11{
        margin-right : 91.66%;
    }
    .col-xs-offset-12{
        margin-right : 100%;
    }    
}
@media screen and (min-width:576px) {
    .col-sm-1{
        width : 8.33%;
    }
    .col-sm-2{
        width : 16.66%;
    }
    .col-sm-3{
        width : 25%;
    }
    .col-sm-4{
        width : 33.33%;
    }
    .col-sm-5{
        width : 41.66%;
    }
    .col-sm-6{
        width : 50%;
    }
    .col-sm-7{
        width : 58.33%;
    }
    .col-sm-8{
        width : 66.66%;
    }
    .col-sm-9{
        width : 75%;
    }
    .col-sm-10{
        width : 83.33%;
    }
    .col-sm-11{
        width : 91.66%;
    }
    .col-sm-12{
        width : 100%;
    }
    .col-sm-offset-0{
        margin-right: 0px;
    } 
    .col-sm-offset-1{
        margin-right : 8.33%;
    }
    .col-sm-offset-2{
        margin-right : 16.66%;
    }
    .col-sm-offset-3{
        margin-right : 25%;
    }
    .col-sm-offset-4{
        margin-right : 33.33%;
    }
    .col-sm-offset-5{
        margin-right : 41.66%;
    }
    .col-sm-offset-6{
        margin-right : 50%;
    }
    .col-sm-offset-7{
        margin-right : 58.33%;
    }
    .col-sm-offset-8{
        margin-right : 66.66%;
    }
    .col-sm-offset-9{
        margin-right : 75%;
    }
    .col-sm-offset-10{
        margin-right : 83.33%;
    }
    .col-sm-offset-11{
        margin-right : 91.66%;
    }
    .col-sm-offset-12{
        margin-right : 100%;
    }   
}
@media screen and (min-width:768px) {
    .col-md-1{
        width : 8.33%;
    }
    .col-md-2{
        width : 16.66%;
    }
    .col-md-3{
        width : 25%;
    }
    .col-md-4{
        width : 33.33%;
    }
    .col-md-5{
        width : 41.66%;
    }
    .col-md-6{
        width : 50%;
    }
    .col-md-7{
        width : 58.33%;
    }
    .col-md-8{
        width : 66.66%;
    }
    .col-md-9{
        width : 75%;
    }
    .col-md-10{
        width : 83.33%;
    }
    .col-md-11{
        width : 91.66%;
    }
    .col-md-12{
        width : 100%;
    }
    .col-md-offset-0{
        margin-right: 0px;
    }
    .col-md-offset-1{
        margin-right : 8.33%;
    }
    .col-md-offset-2{
        margin-right : 16.66%;
    }
    .col-md-offset-3{
        margin-right : 25%;
    }
    .col-md-offset-4{
        margin-right : 33.33%;
    }
    .col-md-offset-5{
        margin-right : 41.66%;
    }
    .col-md-offset-6{
        margin-right : 50%;
    }
    .col-md-offset-7{
        margin-right : 58.33%;
    }
    .col-md-offset-8{
        margin-right : 66.66%;
    }
    .col-md-offset-9{
        margin-right : 75%;
    }
    .col-md-offset-10{
        margin-right : 83.33%;
    }
    .col-md-offset-11{
        margin-right : 91.66%;
    }
    .col-md-offset-12{
        margin-right : 100%;
    }  
}
@media screen and (min-width:992px) {
    .col-lg-1{
        width : 8.33%;
    }
    .col-lg-2{
        width : 16.66%;
    }
    .col-lg-3{
        width : 25%;
    }
    .col-lg-4{
        width : 33.33%;
    }
    .col-lg-5{
        width : 41.66%;
    }
    .col-lg-6{
        width : 50%;
    }
    .col-lg-7{
        width : 58.33%;
    }
    .col-lg-8{
        width : 66.66%;
    }
    .col-lg-9{
        width : 75%;
    }
    .col-lg-10{
        width : 83.33%;
    }
    .col-lg-11{
        width : 91.66%;
    }
    .col-lg-12{
        width : 100%;
    }
    .col-lg-offset-0{
        margin-right: 0px;
    }
    .col-lg-offset-1{
        margin-right : 8.33%;
    }
    .col-lg-offset-2{
        margin-right : 16.66%;
    }
    .col-lg-offset-3{
        margin-right : 25%;
    }
    .col-lg-offset-4{
        margin-right : 33.33%;
    }
    .col-lg-offset-5{
        margin-right : 41.66%;
    }
    .col-lg-offset-6{
        margin-right : 50%;
    }
    .col-lg-offset-7{
        margin-right : 58.33%;
    }
    .col-lg-offset-8{
        margin-right : 66.66%;
    }
    .col-lg-offset-9{
        margin-right : 75%;
    }
    .col-lg-offset-10{
        margin-right : 83.33%;
    }
    .col-lg-offset-11{
        margin-right : 91.66%;
    }
    .col-lg-offset-12{
        margin-right : 100%;
    }  
}
@media screen and (min-width:1200px) {
    .col-xl-1{
        width : 8.33%;
    }
    .col-xl-2{
        width : 16.66%;
    }
    .col-xl-3{
        width : 25%;
    }
    .col-xl-4{
        width : 33.33%;
    }
    .col-xl-5{
        width : 41.66%;
    }
    .col-xl-6{
        width : 50%;
    }
    .col-xl-7{
        width : 58.33%;
    }
    .col-xl-8{
        width : 66.66%;
    }
    .col-xl-9{
        width : 75%;
    }
    .col-xl-10{
        width : 83.33%;
    }
    .col-xl-11{
        width : 91.66%;
    }
    .col-xl-12{
        width : 100%;
    } 
    .col-xl-offset-0{
        margin-right: 0px;
    }
    .col-xl-offset-1{
        margin-right : 8.33%;
    }
    .col-xl-offset-2{
        margin-right : 16.66%;
    }
    .col-xl-offset-3{
        margin-right : 25%;
    }
    .col-xl-offset-4{
        margin-right : 33.33%;
    }
    .col-xl-offset-5{
        margin-right : 41.66%;
    }
    .col-xl-offset-6{
        margin-right : 50%;
    }
    .col-xl-offset-7{
        margin-right : 58.33%;
    }
    .col-xl-offset-8{
        margin-right : 66.66%;
    }
    .col-xl-offset-9{
        margin-right : 75%;
    }
    .col-xl-offset-10{
        margin-right : 83.33%;
    }
    .col-xl-offset-11{
        margin-right : 91.66%;
    }
    .col-xl-offset-12{
        margin-right : 100%;
    }   
}
.green-color{
    color: rgb(105, 255, 105);
    background-color: rgb(1, 85, 1);
}
.blue-color{
    color: rgb(116, 116, 255);
    background-color: rgb(0, 0, 152);
}
.gray-color{
    color: rgb(140, 140, 140);
    background-color: rgb(55, 55, 55);
}
.red-color{
    color: rgb(255, 173, 126);
    background-color: rgb(255, 72, 0);
}

.text-allign{
    text-align: center;
}
.mt{
    margin-top: 20px;
}
.mb{
    margin-bottom: 20px;
}
.content-lorem{
    border: 1px solid palevioletred;
    padding: 5px;
    text-align: justify;
    font-size: 16px;
}
.content-text{
    border: 2px solid purple;
    color: blueviolet;
    height: 100px;
    text-align: center;
    padding: 35px;   
}
.img-responsive{
    width: 100%;
    height: auto;
}





